<%= form_with(model: task) do |form|  %>
  <div class="modal-body">
      <div class="form-outline mb-4" data-mdb-input-init>
          <%= form.text_field :name, class: "form-control", id: "editNameInput" %>
          <%= form.label :name, class: "form-label", for: "editNameInput" %>
      </div>

      <div class="form-outline mb-4" data-mdb-input-init>
          <%= form.text_field :description, class: "form-control", id: "editDescInput"%>
          <%= form.label :description, class: "form-label", for: "editDescInput" %>
      </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal" data-mdb-ripple-init>Close</button>
      <%= form.button "Save", type: "submit", class: "btn btn-primary", id: "confirmButton", "data-mdb-ripple-init" => true %>
  </div>
<% end %>
